.footer {
    width: 102%;
    height: auto;
    padding: 9rem 0;
    background-color: rgba(14, 14, 14, 0.89);
    display: flex;
    margin-left: -1rem;
    flex-direction: column;
    margin-top: 3rem;
}

.footercontainer {
    margin: auto;
    width: 100%;
    height: auto;
    display: fixed;
    grid-gap: 40px;
    align-items: center;
    flex-wrap: wrap;

}

@media screen and (max-width: 740px) {

       .footer {
        padding-right: -1rem;
        width: 109%;
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        margin: auto;
       } 
}